/**
*Building my portfolio
**/


.box{
    box-sizing: border-box;
    text-align: center;   
    background-color: #cccccc;
}
html,body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-image: url(../images/concrete_seamless.png);
}
.wrapper {
    width: 100%;
    height: auto !important;
    height: 100%; 
  }
.header{
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
  
}
#Your-name{
    background-color: teal;
    border: 1px solid #cccccc;
    width: 140px;
    height: 30px;
    padding: 20px 20px 20px 20px ;
    margin-left: 220px;
    margin-right: 510px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    float: left;   
}
.nav-links {
    margin-right: 16%;
}
#Contact-header{
    border-right-style: solid 1px black;
    color: #777777;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border-right-style: solid ;
    border-right-color: #cccccc;
    border-right-width: 0.2px;
    width: 80px;
    height: 10px;
    padding: 6px 9px 9px 6px ;
    float: right;
}
#About{
    border-right-style: solid 1px black;
    color: #777777;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border-right-style: solid ;
    border-right-color: #cccccc;
    border-right-width: 0.2px;
    width: 80px;
    height: 10px;
    margin-top: 31px;
    padding: 6px 5px 9px 10px  ;
    float: right;
}

#Portfolio{
    border-right-style: solid 1px black;
    color: #777777;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border-right-style: solid ;
    border-right-color: #cccccc;
    border-right-width: 0.2px;
    width: 80px;
    height: 10px;
    margin-top: 31px;
    padding: 6px 6px 9px 15px ;
    float: right;
}
#Contact{
    border-right-style: solid 1px black;
    color: #777777;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
    height: 10px;
    margin-top: 31px;
    padding: 6px 9px 9px 6px ;
    float: right;
}
.container{ 
    width:100%;  
    height: 1015px;
    border: solid 0.5px #cccccc;
    margin-left: 2px;
    margin-right: 2px;   
}

/* <!----styling index.html ----->*/
.content-index{
    clear: both;
    width: 66%;
    height: 45%;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px; 
    margin-left: 220px;
    line-height: 100%;
}

#h1{
    color: teal;
    font-size: 22px;
    padding-bottom: 20px;
    border-bottom: #cccccc solid 0.5px;
    margin: 20px;
}

#bio{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    color: #777777;  
}
#bio-image{   
    height: 200px;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}
#p1{
    float : left ;
}

/* <!----styling contact.html ----->*/

.content-contact{   
    position:relative;
    left: 220px;
    right: 200px;
    width: 66%;
    height: 45%;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100%;
    margin-top: 30px;
}

input[type=text], select {
    width: 920px;
    padding: 12px 20px;
    margin: 8px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#name,
#email,
#message{
    font-family: Arial, Helvetica, sans-serif;
  
}
#message{
    width: 60%;
    height:40%;
}
#Contact:hover{
    background-color: azure;
}
input[type=submit]{
    background-color: teal;
    width: 80px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 2px;
}

input[type=submit]:active {
    background-color: rgb(115, 245, 245);
}

input[type=submit]:hover {
    background-color: rgb(37, 80, 80);
}

input[type=submit]:focus{
    background-color:rgb(29, 124, 124);
}
input[type=submit]:active{
    background-color:rgb(32, 204, 204);
}

/* <!----styling portfolio.html ----->*/

.content-portfolio{
    position:relative;
    left: 220px;
    right: 200px;
    width: 960px;
    height: 920px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100%;
    margin-top: 30px;
}

#columns {  
    width: 200px;
    height: 750px;
    margin-left: 15px;
}

#row1 td, #row2 td, #row3 td{
    width: 200px;
    height: 200px;
}

#img1, #img3,#img5{
    width: 220px;
    height: 200px;
    padding-right: 10px;
}

#img2, #img4{
    width: 220px;
    height: 200px;
    padding-left: 10px;
}

#text1, #text2, #text3, #text4, #text5{
    width: 220px;
    height: 25px;
    background-color: teal;
    color: #cccccc;
    text-align: center;
    padding-top: 5px;
}
/* <!----styling Footer ----->*/
.footer{   
    position: sticky;
    width: 100%;
    height: 7px;  
    border-top-style: solid;
    border-top-color: teal;
    border-top-width: 5px; 
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 14px;
    padding-right: 4px;
   
    font-size: 10px;
    color: #cccccc;  
}
/* <!----Media Queries ----->*/

@media only screen and (max-width: 980px) {
    .wrapper{
        width: 100%;
        padding: 20px;
    }
    .container {
        height: auto;
        width:100%;
    }
    #Your-name{
        margin-left: 30px;
    }
    .content-index{
        max-width: 80%;
        margin-left: 30px;
        height: 80%;
    }
    .content-contact, .content-portfolio{
        width: 60%;
        height: 70%;
        position: relative;
        left: 30px;
        top: 0px;
        margin-bottom: 50%;
    }
    
    /* Styling for font awesome */
    .fa-user:before {
        content: "\f007";
        margin-left:15px;
    }
   .fa-at:before {
        content: "\f1fa";
        margin-left: 15px;
    }
    .fa-envelope:before {
        content: "\f1fa";
        margin-left: 15px;
    }
    #fname,#femail,#fmessage{
        width:90%;
        margin-left: 15px
}
@media only screen and (max-width: 768px) {
    .wrapper{
        width: 100%;
        padding: 20px;
    }
    .container {
        height: auto;
        max-width: 768px;
    }
    #Your-name{
        margin-left: 30px;
    }
    .content-index{
        max-width: 80%;
        margin-left: 30px;
        height: 80%;
    }
    .content-contact, .content-portfolio{
        width: 60%;
        height: 70%;
        position: relative;
        left: 30px;
        margin-bottom: 50%;
    }
    /* Styling for font awesome */
    .fa-user:before {
        content: "\f007";
        margin-left:15px;
    }
   .fa-at:before {
        content: "\f1fa";
        margin-left: 15px;
    }
    .fa-envelope:before {
        content: "\f1fa";
        margin-left: 15px;
    }
    #fname,#femail,#fmessage{
        width:90%;
        margin-left: 15px;
    }
   
}
/*<--- screen width 640 px. -->*/
@media only screen and (max-width: 640px) {
    .wrapper{
        width: 100%;
        padding: 20px;
    }
    .container {
        height: auto;
        max-width: 640px;
    }
    .header{
        width: 150%;
        flex-direction: column;
        margin: 0;
        height: auto;
    }
    .nav-links{
        width: 100%;
        height: 70px;
    }
    #Your-name{ 
        width: 90%;
        justify-content: center;
        text-align: center;  
        margin-left: 0;
    }
    .content-index{
        clear: both;
        max-width: 80%;
        margin-left: 30px;
        height: 80%;
    }
    .content-contact{
        clear: both;
        width: 90%;
        height: 50%;
        position: relative;
        margin-top: 2%;
        margin-bottom: 50%;
    }
    .content-portfolio{
        clear: both;
        width: 60%;
        height: 70%;
        position: relative;
        left: 30px;
        margin-bottom: 50%;
    }
    .header{
        width: 60%;
    }
    
    /* Styling for font awesome */
    .fa-user:before {
        content: "\f007";
        margin-left:15px;
    }
   .fa-at:before {
        content: "\f1fa";
        margin-left: 15px;
    }
    .fa-envelope:before {
        content: "\f1fa";
        margin-left: 15px;
    }
    #fname,#femail,#fmessage{
        width:90%;
        margin-left: 15px;
    }
}